<!DOCTYPE html>
<html>
<head>
  <title>Cricket</title>


  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.css">
  <%= csrf_meta_tags %>
</head>
<style type="text/css">
.btn-theme {
background-color: #06979e;
color: #fff;
border-color: #06979e;
}
</style>
<body>
<%= render "layouts/header" %>
</body>
</html>
