<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <link rel="stylesheet" media="all" href="/stylesheets/bootstrap-theme.css">
  <link rel="stylesheet" media="all" href="/stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" media="all" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" media="all" href="/stylesheets/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
