<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>


  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/morris-0.4.3.min.css">
  <link rel="stylesheet" href="/stylesheets/jquery.gritter.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <%= csrf_meta_tags %>
</head>
<body class="pace-done">

<%= yield %>
<script src="/javascripts/analytics.js"></script>
<script src="/javascripts/jquery-1.10.2.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.metisMenu.js"></script>
<script src="/javascripts/jquery.flot.js"></script>
<script src="/javascripts/jquery.flot.tooltip.min.js"></script>
<script src="/javascripts/jquery.flot.spline.js"></script>
<script src="/javascripts/jquery.flot.resize.js"></script>
<script src="/javascripts/jquery.flot.pie.js"></script>
<script src="/javascripts/jquery.peity.min.js"></script>
<script src="/javascripts/peity-demo.js"></script>
<script src="/javascripts/inspinia.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascripts/jquery.gritter.min.js"></script>
<script src="/javascripts/jquery.easypiechart.js"></script>
<script src="/javascripts/jquery.sparkline.min.js"></script>
<script src="/javascripts/sparkline-demo.js"></script>

</body>
</html>
